[submodule "revanced/cli"]
	path = revanced/cli
	url = https://github.com/RevancedTeam/revanced-cli
[submodule "revanced/patcher"]
	path = revanced/patcher
	url = https://github.com/RevancedTeam/revanced-patcher
[submodule "revanced/patches"]
	path = revanced/patches
	url = https://github.com/RevancedTeam/revanced-patches
